<h1><%= link_to 'sales date', root_path %></h1>

<% if ! @jsonData.nil? %>
<ul>
    <% @jsonData['Items'].each do |item| %>
      <li><%= item['Item']['salesDate'] %><%= link_to item['Item']['title'], item['Item']['affiliateUrl'] %></li>
    <% end %>
</ul>
<% end %>
